@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,700';
*
{
  margin: 0;
  outline: none;
  padding: 0;
}
body
{
  font-family: 'Raleway', sans-serif;
}
.section__header
{
  background: #2a2e48 url('img/header-background.jpg') no-repeat scroll center top;
  background-size: cover;
  color: white;
}
.section__header a
{
  color: white;
}
header
{
  border-bottom: solid 1px rgba(255,255,255,0.25);
  height: 100px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}
.header__logo
{
  display: inline-block;
  margin-top: 38px;
}
header nav
{
  float: right;
}
header nav a
{
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 42px 0 0 56px;
  opacity: 0.75;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
}
header nav a:hover
{
  opacity: 1.0;
}
.section__header--content
{
  height: calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  margin: 0 auto;
  max-width: 930px;
  padding: 140px 0;
  width: 100%;
}
.section__header--title
{
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.section__header--text
{
  display: block;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
.section__header--content a
{
  background-color: #e84545;
  border-radius: 3px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  height: 46px;
  line-height: 46px;
  margin: 76px auto 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}
.section__header--content a:hover
{
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.section__features
{
  font-size: 14px;
  padding: 85px 0;
}
.section__features figure
{
  display: inline-block;
  height: 261px;
  text-align: center;
  width: 390px;
}
.section__features figure .icon
{
  background: transparent none no-repeat scroll center center;
  background-size: auto 60px;
  display: block;
  height: 60px;
  margin: 35px auto 33px;
  width: 100%;
}
.section__features figcaption *
{
  display: block;
}
.section__features .figtitle
{
  color: #2d3033;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.section__features .figtext
{
  color: #6c7279;
  margin: 20px auto 0;
  max-width: 305px;
  width: 100%;
}
.section__features .feature__customised .icon
{
  background-image: url('img/figure-image-1.png');
}
.section__features .feature__responsive .icon
{
  background-image: url('img/figure-image-2.png');
}
.section__features .feature__design .icon
{
  background-image: url('img/figure-image-3.png');
}
.section__features .feature__code .icon
{
  background-image: url('img/figure-image-4.png');
}
.section__features .feature__ship .icon
{
  background-image: url('img/figure-image-5.png');
}
.section__features .feature__free .icon
{
  background-image: url('img/figure-image-6.png');
}
.section__features__wrapper
{
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  width: 100%;
}
.section__works
{
  line-height: 0;
}
.section__works *
{
  line-height: normal;
}
.section__works a
{
  background: gray none no-repeat scroll center center;
  background-size: cover;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  box-shadow: none;
  color: white;
  display: inline-block;
  font-size: 14px;
  height: 350px;
  text-decoration: none;
  transition: transform 0.1s linear, box-shadow 0.1s linear;
  -webkit-transition: -webkit-transform 0.1s linear, box-shadow 0.1s linear;
  vertical-align: top;
  width: calc(25% - 3px);
}
.section__works a:hover
{
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
.section__works .work-1
{
  background-image: url('img/work-image-1.jpg');
}
.section__works .work-2
{
  background-image: url('img/work-image-2.jpg');
}
.section__works .work-3
{
  background-image: url('img/work-image-3.jpg');
}
.section__works .work-4
{
  background-image: url('img/work-image-4.jpg');
}
.section__works .work-5
{
  background-image: url('img/work-image-5.jpg');
}
.section__works .work-6
{
  background-image: url('img/work-image-6.jpg');
}
.section__works .work-7
{
  background-image: url('img/work-image-7.jpg');
}
.section__works .work-8
{
  background-image: url('img/work-image-8.jpg');
}
.work__project--wrapper
{
  display: table;
  height: 100%;
  width: 100%;
}
.work__project--v-aligner
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.work__project--name
{
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.work__project--descr
{
  display: block;
  margin-top: 10px;
}
footer
{
  background-color: #3a3e64;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.footer__wrapper
{
  display: table;
  height: 100%;
  width: 100%;
}
.footer__v-aligner
{
  display: table-cell;
  vertical-align: middle;
}
.footer__main
{
  color: white;
  display: table;
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
}
address
{
  background-color: #313454;
  color: gray;
  flex: 0 0 auto;
  font-style: normal;
  height: 94px;
  text-align: center;
}
address .heart
{
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKBAMAAAByAqLJAAAAJ1BMVEUAAADoRUXoRUXoRUXoRUXoRUXoRUXoRUXoRUXoRUXoRUXoRUXoRUW+zT83AAAADHRSTlMAIu7MMxG73USZd2a/IR/dAAAARElEQVQI12NgsTERPuzAEHTmeM4ZVYaeM0BwgsEHRB1lYANRCQysNWfOHBJgYBA6c0aFgYGB+8xhASDFeGYBA4iaCCQAFAAZilJZ6goAAAAASUVORK5CYII=') no-repeat scroll center center;
  color: #e84545;
  display: inline-block;
  font-family: 'Webdings', fantasy;
  font-size: 14px;
  height: 10px;
  width: 12px;
}
address a
{
  color: white;
  text-decoration: none;
}
address a:hover
{
  border-bottom: dashed 1px white;
}
.footer__figures
{
  display: block;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  width: 100%;
}
footer figure
{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  width: 370px;
}
footer figcaption *
{
  display: block;
}
footer .figtitle
{
  font-weight: bold;
  text-transform: uppercase;
}
footer .figtext
{
  margin-top: 16px;
  opacity: 0.5;
}
footer .figtext.opaque
{
  opacity: 1.0 !important;
}
@keyframes quick-rotate
{
  0% {transform: none}
  50% {transform: rotate(10deg)}
  100% {transform: none}
}
@-webkit-keyframes quick-rotate
{
  0% {transform: none}
  50% {transform: rotate(10deg)}
  100% {transform: none}
}
.social__button
{
  animation: none;
  -webkit-animation: none;
  background: transparent none no-repeat scroll center center;
  border: solid 2px white;
  border-radius: 3px;
  display: inline-block;
  height: 36px;
  margin-left: 7px;
  transform: none;
  -webkit-transform: none;
  width: 36px;
}
.social__button:first-of-type
{
  margin-left: 0 !important;
}
.social__button:hover
{
  animation: quick-rotate 0.2s linear;
  -webkit-animation: quick-rotate 0.2s linear;
}
.social__button--facebook
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAASBAMAAACUbIJFAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAS/AzD2/m1rytkn5EHNZZviUAAAAzSURBVAjXY2DwynvEwDDv3SMG3ndAgufdaxcGxncPGRhM3z01ZngHFAMRz0HEC7AEsQQAf7IoZ3jy4PAAAAAASUVORK5CYII=');
}
.social__button--twitter
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAMAAAAYGszCAAAAbFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8+T+BWAAAAI3RSTlMA3MvyeA3mtohZRDk0BQL34Ma8saCBYiDs6KmkZWA/LykSCqXncdcAAACASURBVBjTTdDXEoQgDAVQCF1du+v2lv//xwVjhPtCcggzTESR0wL6qKuWihmlX1ml1d94VBij6h0bi8obAZhiDeGji00fkHImNA6LqDFsGq4Fdo5mP6PKeHu3+69kxkZw9IVtTu0r3ax3tuFHQxLy48kISg1M/ZOEeJkGcJ53IP4CZhEm//pKIwAAAABJRU5ErkJggg==');
}
.social__button--linkedin
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAASFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////neHiwAAAAF3RSTlMALWmtxZl/WAT53WwzJB0J8ui7oIdlMn1OosQAAABXSURBVBjTjc8pAoAwEEPRQPedPfe/KaKmQw0REc99KIop8DOQ4dglJFQJFo8ExiDhyo4uW9fq2WHFwgW+eUAPULboYQe4yYI0wMp+v0AbRWU0+01xU/4La6YQhOcr1VgAAAAASUVORK5CYII=');
}
@media screen and (max-width: 1169px)
{
  .section__works a
  {
    height: 250px;
  }
  footer figure
  {
    width: 300px;
  }
}
@media screen and (max-width: 899px)
{
  .section__works a
  {
    height: 160px;
  }
  footer figure
  {
    width: 240px;
  }
}